body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.background-video {
  position: absolute;
  top: -10%;
  left: -25%;
  min-width: -250%;
  min-height: 220%;
  width: auto;
  height: auto;
  z-index: -1;

}

header {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  padding-top: 50px;
}

.title {
  color: white;
  font-size: 68px;
  text-shadow: 4px 5px rgba(50, 48, 48, 0.347);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0%;
  margin-left: 8%;
  position:fixed;
}

.description {
  z-index: 1;
  font-family:'Courier New', Courier, monospace;
  margin-left: 4%;
  margin-right: 20%;
  font-size: 20px;
  padding: 8%;
  position: absolute;
  top: 50px;
  box-shadow: .6em 0 0 #ffffff;
  width: 67ch;
  overflow: hidden;
  color: #FFF;
	white-space: nowrap;
	animation: caret .4s step-end infinite alternate,
             type 3s steps(16, end)           

}

.subtitle 
{
  font-family:'Courier New', Courier, monospace;
  margin-left: 28%;
  margin-right: 20%;
  font-size: 40px;
  position: relative;
  clear: both;
  top: 200px;
  padding: 4%;
}

.screenshots {
  position:relative;
  bottom: 50px;
  left: 50px;
  top: 30%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70%;
  width: 50%;
}

.screenshots img {
  width: 200px;
  height: 200px;
  margin: 10px;
  box-shadow: 8px 8px rgb(89, 85, 85);
  padding: 20%;
}

.dance {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
}

.stories {
  position:relative;
  bottom: 50px;
  left: 50px;
  z-index: 1;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px #333;
}

footer {
  position: relative;
  bottom: 50px;
  left: 50px;
  z-index: 1;
}

.whatsapp-button {
  color: white;
  background-color: green;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 2px 2px #333;
  position: relative;
}
img {
    position: absolute;
    z-index: -1;
  }


@keyframes type {
    50% {
      width: 0;
    }
  
  }
@keyframes caret { 
    10% { 
      box-shadow: .6em 0 0 transparent;
    }
  }
  
  @use postcss-preset-env {
    stage: 0;
    autoprefixer: {
      grid: true;
  }
browsers: [
      "last 1 Chrome versions",
      "last 1 Firefox versions",
      "last 1 Safari versions",
      "last 1 Edge versions"
    ]
}
.description::selection {
  background: #FFF;
  width: 2px;
  height: 20px;
}